$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "/fonts" !default;

$icon-arrow2-down: "\e900";
$icon-arrow2-left: "\e901";
$icon-arrow2-light: "\e902";
$icon-arrow2-right: "\e903";
$icon-arrow-down: "\e904";
$icon-arrow-left: "\e905";
$icon-arrow-right: "\e906";
$icon-arrow-right-down: "\e907";
$icon-arrow-right-up: "\e908";
$icon-check: "\e909";
$icon-check2: "\e90a";
$icon-check3: "\e90b";
$icon-cross: "\e90c";
$icon-desk: "\e90d";
$icon-error: "\e90e";
$icon-link: "\e90f";
$icon-menu: "\e910";
$icon-pin: "\e911";
$icon-play: "\e912";
$icon-user: "\e913";
