@font-face {
  font-family: "Evolventa";
  src: url("../../fonts/Evolventa-Regular_1.eot");
  src: url("../../fonts/Evolventa-Regular_1.eot?#iefix")
      format("embedded-opentype"),
    url("../../fonts/Evolventa-Regular_1.woff2") format("woff2"),
    url("../../fonts/Evolventa-Regular_1.woff") format("woff"),
    url("../../fonts/Evolventa-Regular_1.ttf") format("truetype"),
    url("../../fonts/Evolventa-Regular_1.svg#Evolventa-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Evolventa";
  src: url("../../fonts/Evolventa-Bold_1.eot");
  src: url("../../fonts/Evolventa-Bold_1.eot?#iefix")
      format("embedded-opentype"),
    url("../../fonts/Evolventa-Bold_1.woff2") format("woff2"),
    url("../../fonts/Evolventa-Bold_1.woff") format("woff"),
    url("../../fonts/Evolventa-Bold_1.ttf") format("truetype"),
    url("../../fonts/Evolventa-Bold_1.svg#Evolventa-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
